// Classes para o sistema de grid

#app {
  display: grid;
  grid-template-columns: 1fr minmax(340px,60vw) 1fr;
  grid-template-rows: 100px 20vh auto  20vh 100px;
  background-color: #91a84c3d;;
}
 header {
  grid-area: 1 / 1 / 1 / -1;
} 
main{
    grid-area: 3 / 2 / 3 / 2;
    display: flex;
    flex-flow: column;
    justify-content: center;
}
footer {
  grid-area: 5 / 1 / 5 / -1;
}