* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#app {
  display: grid;
  grid-template-columns: 1fr 40vw 1fr;
  grid-template-rows: 100px 1fr 100px;
  background-color: #91a84c3d;;
  /* background-image: linear-gradient(#beffff, #4da6f0); */
}
 header {
  grid-area: 1 / 1 /1 / -1;
} 
main{
    grid-area: 2 / 2 / 2 / 2;
    display: flex;
    flex-flow: column;
    justify-content: center;
}
footer {
  grid-area: 3 / 1 / 3 / -1;
}
